<!DOCTYPE html>
<html lang ="eng">
    <head>  
        {{>head}}
    </head>

    <body class="{{bodyClass}}">
        {{>bsnavbar}}
        <div class="container">
            {{{body}}}
        </div>
        

        <!-- Font Awesome & Ionicons -->
        <script src="https://use.fontawesome.com/6998e55726.js"></script>
        <!-- Handlebars js -->
        <script type='text/javascript' src="/js/handlebars-v4.0.11.js"></script>
        <!-- Client side js -->
        <script type='text/javascript' src="/js/main.js"></script>
        <!-- Jquery for bootstrap -->
        <script src="/js/jquery-1.11.3.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>