<div class="about-content">
    <h1>About the website</h1>
    <p>This website designed and developed by Cuneyt Celebican and student number is 101050732. This website
        designed for COMP2406 course for A4 assignment.
        This website is using NodeJS, express, and some npm modules. This website tested on macOS by using
        google chrome browser.
    </p>
    <p>Thank you for giving your time!</p>

    <h1>Background information</h1>
    <p>
            This web application written using javascript nodeJS and express features. For user page, this application 
            uses passport and bcrypt modules. 
    </p>
    <h4>Used, languages, freamework, and npm modules</h4>
    <ul>
        <li>Bootstrap</li>
        <li>JavaScript</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>Express validator</li>
        <li>Mongodb</li>
        <li>Mongoose</li>
        <li>Passport</li>
        <li>Bcrypt</li>
        <li>HandleBars</li>
        <li>Body-parser</li>
        <li>Connect flash</li>
        <li>Cookie Parser</li>
        <li>Query string</li>
        <li>Serve favicon</li>
        <li>XML-JS</li>
    </ul>
    <h1>Thank you!</h1>
    <p>
            It was really enjoyable assignment and I learned new features about webDev. 
    </p>
</div>