<div class="content">
    <div class="row">
        <div id="foodContianer">
            <div class="col-md-12">
                <span class="search-results">Search results for <span class="search-keywords">{{searchKeywords}}</span></span>
            </div>
        </div>
        <div class="foodTemplate" id="foodContianer">
            {{> foodDetailsPartial}}
        </div>
    </div>
  </div>